@font-face{
	font-family: "SSS";
	src: url("../fonts/sss.ttf");
}

@font-face{
	font-family: "pr";
	src: url("../fonts/proxanys.ttf");
}

#num {
    font-family: "pr"!important;
    padding-left: 20px!important;
}

h1, h2 {
    
    font-size: 4em;
    font-family: "SSS";
}

#timer {
    background-color: rgb(50, 101, 134);
    border: white solid 2px;
    float: right;
}

input[id^="btn-"] {
    width: 40px;
    height: 40px;
}

input[type="button"] {
    border: #ccc solid 1px;
}

.my-right-btn {
    border-right: black solid 2px!important;
}

.my-bottom-btn {
    border-bottom: black solid 2px!important;
}

.given-btn {
    background-color: black;
}

#continue {
    padding-top: 50px!important;
}

.duplicated {
    color: white!important;
    background-color: #f44336!important;
}

#message {
    display: none;
}
