#nav-bar {
    background-color: rgb(50, 101, 134);
}

#timer {
    background-color: rgb(50, 101, 134);
    border: white solid 2px;
    float: right;
}

input[id^="btn-"] {
    width: 40px;
    height: 40px;
}

#message {
    display: none;
}
