#timer {
    background-color: rgb(50, 101, 134);
    border: white solid 2px;
    float: right;
}

input[id^="btn-"] {
    width: 40px;
    height: 40px;
}

input[type="button"] {
    border: #ccc solid 1px;
}

.my-right-btn {
    border-right: black solid 2px!important
}

.my-bottom-btn {
    border-bottom: black solid 2px!important
}

.given-btn {
    background-color: black;
}

#message {
    display: none;
}
